// ARTICLE STYLES
// --------------------------------------------------------------------
.post {
    @extend %container;

    margin-bottom: 2 * $type-rhythm;
    padding: 0 1rem;

    @media screen and (min-width: $sm) {
        padding: 0;
    }

    h2 {
        margin-bottom: 0;

        a {
            text-decoration: none;

            &,
            &:visited {
                color: $off-black;
                transition: color .25s linear;
            }

            &:hover,
            &:focus {
                color: $ci-greyed-out;
                transition: color .25s linear;
            }
        }
    }
}

.post_meta {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    time {
        color: $greyed-out;
    }

    @media screen and (min-width: $md) {
        ul {
            display: flex;
            text-align: left;
        }

        li {
            flex: 0 1 auto;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.post-list {
    li {
        border-bottom: 4px solid $silver;
        flex-wrap: wrap;
        margin-bottom: .875rem;
        padding-bottom: .875rem;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 1.5rem;
            padding-bottom: 0;
        }
    }

    time {
        color: $greyed-out;
    }
}
