// ARTICLE STYLES
// --------------------------------------------------------------------
.post {
    @extend %container;

    margin-bottom: 2 * $type-rhythm;
}

.post_meta {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    @media screen and (min-width: $md) {
        ul {
            display: flex;
            text-align: left;
        }

        li {
            flex: 0 1 auto;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
