// GENERIC CONTENT STYLES
// --------------------------------------------------------------------
%container {
    @media screen and (min-width: $sm) {
        @include center-horizontal;

        max-width: 25rem;
    }

    @media screen and (min-width: 37.5em) {
        max-width: 35rem;
    }

    @media screen and (min-width: $md) {
        max-width: 42rem;
    }

    @media screen and (min-width: $lg) {
        max-width: 50rem;
    }

    @media screen and (min-width: $xx) {
        max-width: 51.875rem;
    }
}

main {
    @extend %container;

    margin-top: 2rem;
    margin-bottom: 2rem;

    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    @media screen and (min-width: $md) {
        text-align: justify;
    }
}

.content_message {
    text-align: center;
}

// Archive
.archive {
    h2,
    > h3 {
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .date {
        display: inline-block;
        min-width: 7rem;
        width: 50%;
    }

    @media screen and (min-width: $md) {
        display: flex;
        flex-wrap: wrap;

        h2,
        > h3 {
            flex-basis: 100%;
        }

        h3,
        h4 {
            text-align: left;
        }

        > section {
            flex-basis: 50%;
        }
    }
}

.archive-summary {
    ul {
        width: 100%;
    }

    li {
        display: flex;
        flex-wrap: nowrap;
    }

    a {
        flex-basis: 75%;
    }

    time {
        flex-basis: 25%;
        text-align: right;
    }
}
