// GENERIC CONTENT STYLES
// --------------------------------------------------------------------
%container {
    @media screen and (min-width: $sm) {
        @include center-horizontal;

        max-width: 25rem;
    }

    @media screen and (min-width: 37.5em) {
        max-width: 35rem;
    }

    @media screen and (min-width: $md) {
        max-width: 42rem;
    }

    @media screen and (min-width: $lg) {
        max-width: 50rem;
    }

    @media screen and (min-width: $xx) {
        max-width: 51.875rem;
    }
}

main {
    @extend %container;

    margin-top: 2rem;
    margin-bottom: 2rem;

    h2,
    h3,
    h4,
    h5,
    h6 {
        text-align: center;
    }

    @media screen and (min-width: $md) {
        text-align: justify;
    }
}

.content_message {
    text-align: center;
}

.disclaimer {
    background-color: $lite-grey;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    box-sizing: border-box;
    padding: .375rem .5rem;
}

// Images
.serendipity_image_left,
.serendipity_image_center,
.serendipity_image_right,
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    background: inherit;
    border: 0;
    padding: 0;
}

.serendipity_image_left,
.serendipity_image_right,
.serendipity_image_center {
    box-shadow: 0 0 5px rgba($black, .8);

    .no-boxshadow & { border: 1px solid $greyed-out;}
}

.serendipity_image_left,
.serendipity_imageComment_left {
    display: block;
    float: none;
    margin: 1rem 0;

    @media screen and (min-width: $md) {
        float: left;
        margin: 1.5rem 1rem .5rem 0;
    }
}

.serendipity_image_center,
.serendipity_imageComment_center {
    display: block;
    margin: 1rem auto;
}

.serendipity_image_right,
.serendipity_imageComment_right {
    display: block;
    float: none;
    margin: 1rem 0;

    @media screen and (min-width: $md) {
        float: right;
        margin: 1.5rem 0 .5rem 1rem;
    }
}

.serendipity_imageComment_left,
.serendipity_imageComment_center,
.serendipity_imageComment_right {
    @include responsive-media;
}

.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right,
.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    text-align: center;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0;
    padding: 0;
}

.serendipity_imageComment_txt {
    border-top: 0;
    color: $greyed-out;
    margin: 0;
    padding: .5rem 0 0;
    clear: both;
    font-size: .875rem;
    text-align: center;
}

.serendipity_image_link:hover img,
.serendipity_image_link:focus img {
    opacity: .7;
}

.gallery {
    @include clearfix;
}

// Figures
figcaption {
    color: $greyed-out;
    font-size: .875rem;
    text-align: center;

    a {
        &,
        &:visited {
            color: $greyed-out;
            text-decoration: underline;
        }

        &:hover,
        &:focus {
            color: $off-black;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: $xl) {
    figure {
        position: relative;
    }

    figcaption {
        position: absolute;
        bottom: 0;
        left: -11rem;
        text-align: right;
        width: 10rem;
    }

    .alt {
        bottom: auto;
        left: auto;
        right: -11rem;
        top: 0;
        text-align: left;
    }
}

@media screen and (min-width: $xx) {
    figcaption {
        font-size: 1rem;
        left: -20rem;
        width: 18rem;
    }

    .alt {
        right: -20rem;
    }
}

// Videos/Embeds
video,
audio {
    margin: 1rem 0;
}

// Archive
.archive {
    h2,
    > h3 {
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .date {
        display: inline-block;
        min-width: 7rem;
        width: 50%;
    }

    @media screen and (min-width: $md) {
        display: flex;
        flex-wrap: wrap;

        h2,
        > h3 {
            flex: 0 1 100%;
        }

        h3,
        h4 {
            text-align: left;
        }

        > section {
            flex: 0 1 50%;
        }
    }
}

.archive-summary {
    ul {
        width: 100%;
    }

    li {
        display: flex;
    }

    a {
        flex: 0 1 75%;
    }

    time {
        flex: 0 1 75%;
        text-align: right;
    }
}
