// TRACKBACKS, COMMENTS, FORMS
// --------------------------------------------------------------------
// Comment + contact forms
.serendipity_commentDirection {
    @extend %message;

    background: $notice-bg;
    border-color: $notice-bc;
    color: $notice-fg;
}

.form_field {
    margin: .75rem 0;

    label {
        display: block;
    }
}

.form_input {
    input {
        width: 100%;
    }
}

.form_select {
    select {
        width: 100%;
    }
}

input[type=checkbox],
input[type=radio] {
    position: relative;
    top: -2px;
}

.form_buttons {
    margin: 1rem 0;
    text-align: center;

    input {
        min-width: 7.5rem;
    }

    input + input {
        margin-left: .4rem;
    }
}

// Comments
#comments {
    margin-bottom: 2rem;
}

.comment_meta {
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    li {
        margin-bottom: .25rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $md) {
        ul {
            display: flex;
            flex-wrap: wrap;
            text-align: left;
        }

        li {
            margin-bottom: 0;
            margin-right: 1rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.comment {
    margin-bottom: 2rem;

    h4 {
        text-align: left;
    }
}

// Gravatars
.comment_avatar {
    float: right;
    height: 64px;
    margin: 0 0 .5rem 1rem;
    width: 64px;
}

.avatar_left {
    float: left;
    margin: 0 1rem .5rem 0;
}

.avatar_right {
    float: right;
    margin: 0 0 .5rem 1rem;
}

// Trackbacks
#trackbacks {
    margin-bottom: 2rem;

    ul {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    li {
        display: flex;
        flex-wrap: nowrap;
    }

    a {
        flex-basis: 75%;
    }

    time {
        flex-basis: 25%;
        text-align: right;
    }
}
