// TRACKBACKS, COMMENTS, FORMS
// --------------------------------------------------------------------
// Comment + contact forms
.form_field {
    margin: .5rem 0;

    label {
        display: block;
    }
}

.form_input {
    input {
        width: 100%;
    }
}

.form_select {
    select {
        width: 100%;
    }
}

.form_buttons {
    margin: 1rem 0;
    text-align: center;
}

// Comments
.comment {
    h4 {
        text-align: left;
    }
}
