// TRACKBACKS, COMMENTS, FORMS
// --------------------------------------------------------------------
// Comment + contact forms
.serendipity_commentDirection {
    @extend %message;

    background: $lite-grey;
    border-color: $silver;
    color: $ci-greyed-out;

    a {
        color: inherit;
    }
}

#reply {
    margin: (2 * $type-rhythm) 0;
}

.form_field {
    margin: .75rem 0;

    label {
        display: block;

        > abbr[title] {
            border-bottom: 0;
        }
    }

    .serendipity_commentDirection + & {
        margin-top: 1.75rem;
    }
}

.form_input {
    input {
        width: 100%;
    }
}

.form_select {
    select {
        width: 100%;
    }
}

input[type=checkbox],
input[type=radio] {
    position: relative;
    top: -2px;
}

.form_buttons {
    margin: 1rem 0;
    text-align: center;

    input {
        min-width: 7.5rem;
    }

    input + input {
        margin-left: .4rem;
    }
}

// Comments
#comments {
    margin: (2 * $type-rhythm) 0;

    .comment {
        border: 1px solid $silver;
        border-radius: 1px;
        box-sizing: border-box;
        margin: (2 * $type-rhythm) 0;
        padding: 0 1rem;

        &:nth-of-type(even) {
            background: $lite-grey;
        }
    }
}

.comment {
    > header {
        min-height: 3rem;
        position: relative;

        @media screen and (min-width: $md) {
            min-height: 4rem;
        }
    }

    h4 {
        margin: 1rem 0 0;
        text-align: left;
    }

    time {
        color: $greyed-out;
        display: block;
        margin: 0 0 1rem;
    }
}

.comment_meta {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        text-align: left;
    }

    li {
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

// Threaded comments
@media screen and (min-width: $md) {
    @for $i from 1 through 9 {
        #comments .commentlevel_#{$i} {
            margin-left: 2rem * $i;
        }
    }
}

// Comment preview
#c {
    background: $lite-grey;
    border: 1px dashed $greyed-out;
    color: $greyed-out;
    padding: 0 1rem;
}

// Gravatars
.comment_avatar {
    border: 1px solid $greyed-out;
    border-radius: 50%;
    box-sizing: border-box;
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 250ms linear;
    width: 48px;

    &:hover {
        transform: scale(1.25);
        transition: transform 250ms linear;
    }

    @media screen and (min-width: $md) {
        height: 64px;
        width: 64px;
    }
}

.avatar_left {
    float: left;
    margin: 0 1rem .5rem 0;
}

.avatar_right {
    float: right;
    margin: 0 0 .5rem 1rem;
}

// Trackbacks
#trackbacks {
    margin: (2 * $type-rhythm) 0;

    ul {
        list-style: none;
        padding: 0;
        width: 100%;
    }

    li {
        display: flex;
        flex-wrap: nowrap;
    }

    a {
        flex: 0 1 75%;
    }

    time {
        flex: 0 1 25%;
        text-align: right;
    }
}
