// FOOTER STYLES
// --------------------------------------------------------------------
#service {
    text-align: center;

    ul {
        margin: 1rem 0;
    }

    li {
        margin-bottom: .25rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $sm) {
        ul {
            margin: 1rem 0 2rem;
        }

        li {
            display: inline-block;
            margin-bottom: 0;

            &:after {
                content: ' • ';
            }

            &:last-child:after {
                content: '';
            }
        }
    }
}
