// FOOTER STYLES
// --------------------------------------------------------------------
#service {
    text-align: center;

    ul {
        margin: $type-rhythm 0;
    }

    @media screen and (min-width: $sm) {
        ul {
            margin: $type-rhythm 0 (2 * $type-rhythm);
        }

        li {
            display: inline-block;

            &:after {
                content: ' • ';
            }

            &:last-child:after {
                content: '';
            }
        }
    }
}
