// GLOBAL STYLES
// --------------------------------------------------------------------
// Hint for live relaunch
#live-redesign {
    p {
        @extend %message;

        background: $notice-bg;
        border-color: $notice-bc;
        color: $notice-fg;
        font-size: 1rem;
        margin: 0;

        @media screen and (min-width: $md) {
            border-radius: 0;
            text-align: center;
        }
    }
}

html {
    background: $off-white;
    color: $off-black;
}

body {
    // @include ligatures;

    padding: 0 1rem;

    @media screen and (min-width: $sm) {
        padding: 0;
    }

    @media screen and (min-width: $lg) {
        font-size: 112.5%;
        line-height: 1.6666;
    }

    @media screen and (min-width: $xx) {
        font-size: 125%;
        line-height: 1.6;
    }
}

ul {
    padding-left: 1.5rem;
}

ol {
    padding-left: 2.25rem;
}

blockquote {
    @include smart-blockquotes;
}

ins {
    text-decoration: none;
}

del {
    color: $greyed-out;
}

pre,
small {
    font-size: 100%;
}

code,
samp,
kbd {
    font-size: 93.75%;

    p &,
    li &,
    td & {
        background-color: $lite-grey;
        border: 1px solid $silver;
        border-radius: 1px;
        padding: 0 .2rem;
    }
}

table {
    @include simple-table;
}

tr:hover {
    background-color: $lite-grey;
    transition: background-color .25s linear;
}

// Generic helper classes
.clearfix {
    @include clearfix;
}

.visuallyhidden {
    @include visuallyhidden;
}

.no-details summary {
    @include hidden;
}
