// GLOBAL STYLES
// --------------------------------------------------------------------
body {
    padding: 0 1rem;
}

// Hint for live relaunch
.live-redesign {
    @extend %message;

    background: $notice-bg;
    border-color: $notice-bc;
    color: $notice-fg;
    font-size: 1rem;
}

// Generic helper classes
.clearfix {
    @include clearfix;
}

.visuallyhidden {
    @include visuallyhidden;
}

.no-details summary {
    @include hidden;
}
