// GLOBAL STYLES
// --------------------------------------------------------------------
// Hint for live relaunch
#live-redesign {
    p {
        @extend %message;

        background: $notice-bg;
        border-color: $notice-bc;
        color: $notice-fg;
        font-size: 1rem;
        margin: 0;
    }
}

body {
    padding: 0 1rem;
}

blockquote {
    @include smart-blockquotes;
}

// Generic helper classes
.clearfix {
    @include clearfix;
}

.visuallyhidden {
    @include visuallyhidden;
}

.no-details summary {
    @include hidden;
}
