// HEADER
// --------------------------------------------------------------------
.masthead {
    @extend %container;

    padding: 0 1rem;
    text-align: center;

    @media screen and (min-width: $sm) {
        padding: 0;
    }

    @media screen and (min-width: $md) {
        position: relative;
    }

    h1 {
        display: inline-block;

        @media screen and (min-width: $xl) {
            margin: 2.5rem 0 1.5rem;
        }
    }

    a {
        display: inline-block;

        &,
        &:visited,
        &:hover,
        &:focus {
            color: $off-black;
            text-decoration: none;
            transition: color 0.25s linear;
        }

        &:hover,
        &:focus {
            color: $ci-greyed-out;
            transition: color 0.25s linear;
        }
    }
}

.blog-version {
    @include visuallyhidden;

    @media screen and (min-width: $md) {
        @include not-visuallyhidden;

        color: $grey;
    }
}
