// HEADER STYLES
// --------------------------------------------------------------------
#identity {
    text-align: center;

    a {
        &,
        &:visited,
        &:hover,
        &:focus {
            color: $off-black;
            text-decoration: none;
            transition: color .25s linear;
        }

        &:hover,
        &:focus {
            color: $ci-greyed-out;
            transition: color .25s linear;
        }
    }
}

#site-nav {
    background: $lite-grey;
    border-top: 1px solid $silver;
    border-bottom: 1px solid $silver;
    padding: .5rem 0;

    ul {
        @extend %container;

        text-align: center;

        @media screen and (min-width: $md) {
            display: flex;
            flex-wrap: wrap;
        }
    }

    li {
        @media screen and (min-width: $md) {
            flex: 0 1 20%;
        }
    }

    a {
        text-decoration: none;
    }

    span,
    a {
        box-sizing: border-box;
        display: block;
    }
}

#search {
    text-align: center;
}

#search_inputs {
    background: $lite-grey;
    border-bottom: 1px solid $silver;
    margin: 0 0 $type-rhythm;
    padding: 1rem 0;

    @media screen and (min-width: $md) {
        margin: 0 0 (2 * $type-rhythm);
    }
}

#searchterm {
    background-color: inherit;
    border: 0;
    border-bottom: 2px dashed $greyed-out;
    max-width: 100%;
    text-align: center;

    @media screen and (min-width: $md) {
        font-size: 2rem;
    }

    &:focus {
        border-bottom: 2px solid $greyed-out;
        box-shadow: none;
    }
}
