// HEADER STYLES
// --------------------------------------------------------------------
#identity {
    padding: 0 1rem;
    text-align: center;

    @media screen and (min-width: $sm) {
        padding: 0;
    }

    h1 {
        font-size: 1.5rem;

        @media screen and (min-width: $md) {
            font-size: 2.25rem;
        }

        @media screen and (min-width: $lg) {
            font-size: 2.5rem;
        }

        @media screen and (min-width: $xl) {
            font-size: 3rem;
            margin: 2.5rem 0 1.5rem;
        }
    }

    a {
        &,
        &:visited,
        &:hover,
        &:focus {
            color: $off-black;
            text-decoration: none;
            transition: color .25s linear;
        }

        &:hover,
        &:focus {
            color: $ci-greyed-out;
            transition: color .25s linear;
        }
    }
}

.blog-version {
    color: $grey;
}
