// MEDIA STYLES
// --------------------------------------------------------------------
// Images
.serendipity_image_left,
.serendipity_image_center,
.serendipity_image_right,
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    background: inherit;
    border: 0;
    padding: 0;
}

.serendipity_image_left,
.serendipity_image_right,
.serendipity_image_center {
    box-shadow: 0 0 5px rgba($black, .8);

    .no-boxshadow & { border: 1px solid $greyed-out;}
}

.serendipity_image_left,
.serendipity_imageComment_left {
    display: block;
    float: none;
    margin: $type-rhythm 0;

    @media screen and (min-width: $md) {
        float: left;
        margin: 1.5rem 1.25rem .5rem 0;
    }
}

.serendipity_image_center,
.serendipity_imageComment_center {
    display: block;
    margin: $type-rhythm auto;
}

.serendipity_image_right,
.serendipity_imageComment_right {
    display: block;
    float: none;
    margin: $type-rhythm 0;

    @media screen and (min-width: $md) {
        float: right;
        margin: 1.5rem 0 .5rem 1.25rem;
    }
}

.serendipity_imageComment_left,
.serendipity_imageComment_center,
.serendipity_imageComment_right {
    @include responsive-media;
}

.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right,
.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    text-align: center;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0;
    padding: 0;
}

.serendipity_imageComment_txt {
    border-top: 0;
    color: $greyed-out;
    margin: 0;
    padding: .5rem 0 0;
    clear: both;
    font-size: .875rem;
    text-align: center;

    @media screen and (min-width: $xx) {
        font-size: 1rem;
    }
}

.serendipity_image_link {
    &:hover,
    &:focus {
        img {
            opacity: .7;
            transition: all .25s linear;
        }
    }

    &:focus {
        outline: 0;
    }
}

// Image galleries
.gallery {
    margin: 1rem 0 0;

    @media screen and (min-width: $sm) {
        display: flex;
        flex-wrap: wrap;
    }

    img {
        margin: 0 0 1rem;

        @media screen and (min-width: $sm) {
            margin: 0 .5rem 1rem 0;
            max-width: 12rem;
        }

        @media screen and (min-width: 37.5em) {
            margin: 0 .6666rem 1rem 0;
            max-width: 11rem;
        }

        @media screen and (min-width: $md) {
            margin: 0 1rem 1rem 0;
            max-width: 13rem;
        }

        @media screen and (min-width: $lg) {
            max-width: 15.5rem;
        }

        @media screen and (min-width: $xx) {
            max-width: 16.25rem;
        }
    }
}

// Figures
figcaption {
    color: $greyed-out;
    font-size: .875rem;
    text-align: center;

    a {
        &,
        &:visited {
            color: $greyed-out;
            text-decoration: underline;
        }

        &:hover,
        &:focus {
            color: $off-black;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: $xl) {
    figure {
        position: relative;
    }

    figcaption {
        position: absolute;
        bottom: 0;
        left: -11rem;
        text-align: right;
        width: 10rem;
    }

    .alt {
        bottom: auto;
        left: auto;
        right: -11rem;
        top: 0;
        text-align: left;
    }
}

@media screen and (min-width: $xx) {
    figcaption {
        font-size: 1rem;
        left: -20rem;
        width: 18rem;
    }

    .alt {
        right: -20rem;
    }
}

// Videos/Embeds
video,
audio {
    margin: $type-rhythm 0;
}

// Embedded Tweets
.twitter-tweet {
    @include center-horizontal;
}
