// NAV
// --------------------------------------------------------------------
// Nav buttons
.open-nav,
.close-nav {
    @include unstyled-button();

    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 2rem;

    @media screen and (min-width: $md) {
        top: 1.5rem;
        right: 0;
    }

    @media screen and (min-width: $xl) {
        top: 3.25rem;
        transition: transform 0.25s linear;

        &:hover {
            transform: scale(1.25);
            transition: transform 0.25s linear;
        }
    }

    [class^='icon-'],
    [class*='icon-'] {
        fill: $ci-bright-red;
        height: 2rem;
        width: 2rem;

        @media screen and (min-width: $lg) {
            height: 3rem;
            width: 3rem;
        }
    }

    .no-js & {
        @include hidden;
    }

    &:hover [class^='icon-'],
    &:hover [class*='icon-'] {
        fill: $ci-dull-red;
    }
}

// Search
#search_inputs {
    margin-bottom: 1rem;

    @media screen and (min-width: $xl) {
        margin-bottom: 3rem;
    }

    .no-js & {
        @include center-horizontal;

        max-width: 20rem;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    input[type='search'] {
        width: 100%;
    }
}

// Nav links
.site-nav {
    background-color: $lite-grey;
    box-sizing: border-box;

    &[aria-hidden='true'] {
        display: none;
        visibility: hidden;
    }

    .no-js &[aria-hidden='true'],
    &[aria-hidden='false'] {
        display: block;
        visibility: visible;
    }

    .js & {
        height: 100vh;
        position: fixed;
        top: 0;
        width: 100vw;
        z-index: 500;

        > div {
            @extend %container;

            padding: 3rem 1rem;

            @media screen and (min-width: $md) {
                padding: 3.5rem 0;
                position: relative;
            }

            @media screen and (min-width: $lg) {
                padding: 5rem 0;
            }

            @media screen and (min-width: $xl) {
                padding: 7rem 0;
            }
        }
    }

    .js & ul {
        border-top: 1px dashed $grey;
    }

    .js & li {
        border-bottom: 1px dashed $grey;
        margin-bottom: 0.25rem;
        padding: 0.25rem 0;

        @media screen and (min-width: $xl) {
            padding: 0.5rem 0;
        }
    }

    .js & a {
        display: block;
        text-decoration: none;
    }

    .no-js & {
        padding: 1rem;
        text-align: center;
    }

    .no-js & li {
        display: inline-block;
        margin-right: 1rem;

        &:last-child {
            margin-right: 0;
        }
    }
}
