// PLUGIN STYLES
// --------------------------------------------------------------------
// Categories
.serendipity_plugin_categories {
    .content {
        > ul {
            list-style: none;
            padding: 0;
        }
    }
}

// Freetags
.freetag_cloud {
    @extend %container;
}

.serendipity_freetag_taglist {
    text-align: center;
}

.serendipity_freetag_taglist_related {
    font-size: 1.17em;
    font-weight: bold;
}
