// PLUGINS
// --------------------------------------------------------------------
// Categories
.serendipity_plugin_categories {
    .content {
        > ul {
            list-style: none;
            padding: 0;
        }
    }
}

// Freetags
.freetag_cloud {
    @extend %container;

    padding: 0 1rem;

    @media screen and (min-width: $sm) {
        padding: 0;
    }
}

.serendipity_freetag_taglist {
    text-align: center;
}

.serendipity_freetag_taglist_related {
    font-size: 1.17em;
    font-weight: bold;

    @media screen and (min-width: $lg) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: $xx) {
        font-size: 1.6875rem;
    }
}
