/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*='language-'],
pre[class*='language-'] {
    background: none;
    color: black;
    font-family: 'Fira Code', Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
    hyphens: none;
    line-height: 1.5;
    tab-size: 4;
    text-align: left;
    text-shadow: 0 1px white;
    white-space: pre;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
}

/* Code blocks */
pre[class*='language-'] {
    margin: 1rem 0;
    overflow: auto;
    padding: 1rem;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
    background: #f5f2f0;
}

pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection,
code[class*='language-']::-moz-selection,
code[class*='language-'] ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection,
code[class*='language-']::selection,
code[class*='language-'] ::selection {
    background: #b3d4fc;
    text-shadow: none;
}

@media print {
    code[class*='language-'],
    pre[class*='language-'] {
        text-shadow: none;
    }
}

/* Inline code */
:not(pre) > code[class*='language-'] {
    border-radius: 0.3125rem;
    padding: 0.125rem;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    background: hsla(0, 0%, 100%, 0.5);
    color: #a67f59;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

// Toolbar
.code-toolbar {
    position: relative;

    > .toolbar {
        opacity: 0;
        position: absolute;
        bottom: 0;
        right: 0.1875rem;
        transition: opacity 0.3s ease-in-out;
        text-transform: uppercase;

        .toolbar-item {
            display: inline-block;
        }

        a {
            cursor: pointer;
        }

        button {
            background: none;
            border: 0;
            color: inherit;
            font: inherit;
            line-height: normal;
            overflow: visible;
            padding: 0;
            user-select: normal;
        }

        a,
        button,
        span {
            background: #f5f2f0;
            background: rgba(224, 224, 224, 0.2);
            color: #bbb;
            font-size: 0.8125rem;

            &:hover,
            &:focus {
                color: inherit;
                text-decoration: none;
            }
        }
    }

    &:hover > .toolbar {
        opacity: 1;
    }
}
