// SIDEBAR STYLES
// --------------------------------------------------------------------
.sidebar {
    @extend %container;
}

#info {
    min-height: 9rem;

    h3 {
        text-align: center;
    }

    .content {
        text-align: center;

        @media screen and (min-width: $md) {
            text-align: justify;
        }

        @media screen and (min-width: $xl) {
            position: relative;
        }
    }
}

#info-img {
    background: #fcfcfc;
    border: 1px solid $greyed-out;
    border-radius: 50%;
    box-sizing: border-box;
    height: 96px;
    padding: .5rem;
    width: 96px;

    @media screen and (min-width: $md) {
        float: left;
        margin: 0 1rem 0 0;
        position: relative;
        top: -.75rem;
    }

    @media screen and (min-width: $xl) {
        float: none;
        margin: 0;
        position: absolute;
        top: -.25rem;
        left: -8rem;
    }
}

#social {
    text-align: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: 1rem auto .5rem;
        max-width: 15rem;
        padding: 0;

        @media screen and (min-width: $md) {
            flex-wrap: nowrap;
            margin: 1rem auto;
            max-width: 35rem;
        }
    }

    li {
        flex: 0 1 33%;
        margin-bottom: .5rem;

        @media screen and (min-width: $md) {
            margin-bottom: 0;
        }
    }

    a {
        display: block;
    }
}

#sidebar {
    .sidebar {
        @media screen and (min-width: $md) {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }

    .widget {
        box-sizing: border-box;

        @media screen and (min-width: $md) {
            flex: 0 1 33%;
        }
    }
}
