// SIDEBAR STYLES
// --------------------------------------------------------------------
.sidebar {
    @extend %container;
}

#site-info {
    background: $off-black;
    border-bottom: 1px solid $silver;
    color: $off-white;
}

#info {
    border-bottom: 1px solid $ci-greyed-out;
    min-height: 9rem;

    h3 {
        text-align: center;
    }

    a {
        &:hover,
        &:focus {
            color: $grey;
        }
    }

    .content {
        text-align: center;

        @media screen and (min-width: $md) {
            text-align: justify;
        }

        @media screen and (min-width: $xl) {
            position: relative;
        }
    }
}

#info-img {
    background: $off-white;
    border: 1px solid $ci-greyed-out;
    border-radius: 50%;
    box-sizing: border-box;
    height: 96px;
    width: 96px;

    @media screen and (min-width: $md) {
        float: left;
        margin: 0 1rem 0 0;
        position: relative;
        top: -.75rem;
    }

    @media screen and (min-width: $xl) {
        float: none;
        margin: 0;
        position: absolute;
        top: -.25rem;
        left: -8rem;
    }
}

#social {
    text-align: center;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        margin: $type-rhythm auto .5rem;
        max-width: 15rem;
        padding: 0;

        @media screen and (min-width: $md) {
            flex-wrap: nowrap;
            margin: $type-rhythm auto (2 * $type-rhythm);
            max-width: 35rem;
        }
    }

    li {
        flex: 0 1 33%;
        margin-bottom: .5rem;

        @media screen and (min-width: $md) {
            margin-bottom: 0;
        }
    }

    a {
        background: $off-white;
        border-radius: 50%;
        display: block;
        height: 2.75rem;
        width: 2.75rem;

        > svg {
            position: relative;
            left: -.125rem;
            top: -.125rem;
        }
    }
}

.icon-rss { fill: #f26522; }
.icon-twitter { fill: #55acee; }
.icon-facebook { fill: #3b5998; }
.icon-instagram { fill: #3f729b; }
.icon-github { fill: #4183c4; }
.icon-xing { fill: #026466; }
.icon-pinboard { fill: #0000e6; }
.icon-lastfm { fill: #d51007; }
.icon-amazon { fill: #f90; }

#sidebar {
    .sidebar {
        @media screen and (min-width: $md) {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    }

    .widget {
        box-sizing: border-box;

        @media screen and (min-width: $md) {
            flex: 0 1 33%;
        }
    }
}
