// PROJECT-SPECIFIC SETTINGS
// --------------------------------------------------------------------
// responsive-nav.js
$use-rnav-classes:  true;

// SVG sprites
$use-svg-sprites:   true;

// Forms
$use-form-styles:   true;
$use-form-advanced: true;

// Messages
$use-msg-basic:     true;
$use-msg-extra:     true;

// Enable JS
$use-enable-js:     false;

// Image positioning
$use-cms-classes:   false;


// DEPENDENCIES – *DON'T* EDIT!
// --------------------------------------------------------------------
// Advanced form support requires basic form support
@if $use-form-advanced {
    $use-form-styles: true;
}
