// TYPOGRAPHY
// --------------------------------------------------------------------
$primary-font:  'Merriweather', serif;
$type-height:   1.5;
$type-rhythm:   1rem;


// COLORS
// --------------------------------------------------------------------
$ci-blue:       #2763a5;
$ci-orange:     #fdaa2b;


// OVERRIDES
// --------------------------------------------------------------------
// Messages
$msg-class-prefix:  serendipity_msg_;
$msg-class-warning: important;
$msg-class-success: notice;
$msg-class-notice:  info;

// SVG icons
$svg-icon-dims:     2.5rem;
