// TYPOGRAPHY
// --------------------------------------------------------------------
$primary-font:  'Helvetica Neue', Arial, sans-serif;
$type-height:   1.5;
$type-rhythm:   1rem;


// COLORS
// --------------------------------------------------------------------
$yl-blue:       #2763a5;
$yl-orange:     #fdaa2b;


// OVERRIDES
// --------------------------------------------------------------------
$msg-class-prefix:  serendipity_msg_;
$msg-class-warning: important;
$msg-class-success: notice;
